.DS_Store
.quartz-cache
.obsidian
.replit
node_modules
public
prof
tsconfig.tsbuildinfo
private/
replit.nix

# Contenido de la wiki (se guarda en un repositorio aparte).
content/
wafrre/
# Symlink (para evitar problemas con anidar un repositorio dentro de otro).
wafrre.lnk