@use "../../styles/variables.scss" as *;

.customization {
  display: flex;
  width: fit-content;

  & #customization-icon {
    fill: var(--darkgray);
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: opacity 0.1s;
  }

  & #customization-container {
    contain: layout;
    z-index: 999;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;

    &.open {
      display: inline-block;
    }

    & #customization-menu {
      width: 50%;
      margin-top: 12vh;
      margin-right: auto;
      margin-bottom: 2em;
      margin-left: auto;
      padding: 1px 2em 1em;
      background: var(--light);
      border-radius: 7px;
      box-shadow:
        0 14px 50px #1b21301f,
        0 10px 30px #1b213029;

      & > div {
        display: flex;
        gap: 0.2em;

        // Para celular y tablet.
        @media all and (max-width: $fullPageWidth) {
          & #favorites {
            flex-direction: column;
          }
        }

        // Para celular.
        @media all and (max-width: $tabletBreakpoint) {
          &:nth-child(3) {
            flex-direction: column;
            gap: 0;

            & #favorites {
              margin: 0;
            }
          }
        }
      }
    }
  }

  // Para el componente `Darkmode` anidado dentro de `Customization`.
  & .darkmode {
    align-self: center;
  }

  @media all and (max-width: $fullPageWidth) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
